@font-face {
    font-family: "AkkuratPro-Regular";
    src: url("font/fontr/AkkuratPro-Regular.woff");
}

*{
    margin:0px;
    padding:0px;
    font-family: "AkkuratPro-Regular";
}

header{
    color:white;
    background-color: black;
    position:relative;
}
div.main-header{
    width:100%;
    display:flex;
    justify-content: center;
    height:50px;
}

div.logo{
    width:60%;
    align-self: center;
    justify-content: start;
    font-size:30px;
    margin-left:20px;
}

div.menu{
    width: 40%;
    align-self: center;
    justify-content: end;
}
ul{
    list-style:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
li{
    align-self: center;
    transition: color 1s;
    font-size: 15px;
}
a.nav{
    height:100%;
    color:white;
    text-decoration: none;
    margin:0px 20px 0px 20px;

} 
a.nav:hover{
    color:gray;
}  
div.firstLand{
    display: flex;
    flex-direction: column;
}
h1.pilotText{
    font-size: 50px;
    text-align: center;
    padding:1rem 4rem 2rem 5rem;
}


.gridTest{
    display:grid;
    justify-content: center;
    grid-template-columns: 60px 900px 60px;
    grid-template-rows: 700px;
}

.gridTest div.space_test{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: grey;
}
footer{
    background-color: black;
    color:white;
    
}

div.finalFooter{
    height:60px;
    display:flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-content: center;
}

div.menu_footer_left{
    width:20%;
    align-items:center;
    align-self: center;
}
div.logo_footer{
    width:20%;
    align-self: center;
}
div.menu_footer_right{
    width:20%;
    align-self: center;
}

div.rightsReserved{
    text-align: center;
}

ul.barFooter{
    list-style:none;
    display: flex;
    justify-content: space-around;
}

div.container{
    margin:auto;
    text-align: center;
    margin-bottom:11rem;
    margin-top:11rem;
    }